{% load render_bundle from webpack_loader %}

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>Sweet keywords for ecommerce</title>
    {% render_bundle 'main' %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.css" rel="stylesheet" type="text/css" />
    <script>
    (function() {var s=document.createElement('script');
    s.type='text/javascript';s.async=true;
    s.src=('https:'==document.location.protocol?'https':'http') +
    '://wordcandyapp.groovehq.com/widgets/9c44d50a-3ec3-4ab0-89a3-f985af797469/ticket.js'; var q = document.getElementsByTagName('script')[0];q.parentNode.insertBefore(s, q);})();
    </script>
  </head>
  <body>
    <div id="app"></div>
  </body>
</head>