.login-page {
  background: url('/static/images/login/background-main.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;

  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    .text-success a, .text-success a:hover, .text-success a:focus {
      color: $brand-success;
    }
    .text-secondary a, .text-secondary a:hover, .text-secondary a:focus {
      color: $secondary;
    }
  }

  .account-block {
    padding-top: 30px;
    .panel {
      background-color: #a07baf;
      border-color: #a07baf;
      p {
        color: #fff;
      }
    }
  }
}