h1, h2, h3, h4, h5 {
  color: $primary;
  font-weight: 100;
}

p {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  line-height: 17px;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover  {
  background-color: #fff;
  color: $brand-success;
  opacity: 1;
}